<ngb-carousel *ngIf="images" class="carousel" [interval]="3000">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Image slider numéro 1">
    <div class="carousel-caption">
      <h3>Bienvenue sur une demo de Service Worker</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Image slider numéro 2">
    <div class="carousel-caption">
      <h3>Bienvenue sur une demo de Service Worker</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Image slider numéro 2">
    <div class="carousel-caption">
      <h3>Bienvenue sur une demo de Service Worker</h3>
    </div>
  </ng-template>
</ngb-carousel>
